* {
    background-color: rgb(244, 238, 226);
}

/* Remove highlighting */
.tile-ingame, .tile-tray, .board-square , #top-container{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}  

body {
    font-family: Arial, sans-serif;
}

#instructions {
    text-align: center;
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board-square-container {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    margin: 20px;
    border: 1px solid white;
    overflow: hidden;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 48px;
    height: 48px;
    background-color: rgb(227, 226, 226);
    border: 1px solid white;
    position: relative;
}

#in-game-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
#in-game-buttons button{
    font-size: 20px;
    border-radius: 5px;
    border-width: 1px;
}

span {
    background-color: transparent;
}

.bonus-text {
    position: relative;
    z-index: 1;
}

.triple-word::after, .triple-letter::after, 
.double-word::after, .double-letter::after {
    position: absolute;
    z-index: 0;
    font-size: large;
}

.triple-word { background-color: rgb(251, 35, 35); }
.triple-word::after { content: "TW"; }

.triple-letter { background-color: rgb(98, 98, 226); }
.triple-letter::after { content: "TL"; }

.double-word { background-color: lightcoral; }
.double-word::after { content: "DW"; }

.double-letter { background-color: lightblue; }
.double-letter::after { content: "DL"; }

.tile-tray,
.tile-ingame {
    background: linear-gradient(135deg, #b58863, #d9b48f); /* smooth wooden effect */
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* creates a soft shadow */
    border: 0.5px solid black;
    border-radius: 10%; /* creates slightly rounded corners */
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d1b00; /* letter color */
    font-size: 30px;
    font-weight: bold;
    z-index: 2;

    position: relative;
}

.tile-ingame {
    position: absolute;
    z-index: 999;
}

#tray {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 213, 188);
    border: .5px solid black;
    padding: 10px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    margin: 10px auto;
}

.letter, .value { background-color: transparent;}

.value {
    position: absolute;
    bottom: 2px;  
    right: 2px;
    font-size: 0.4em;
}

/* Middle Square */
#grid6_6 {
    background-color: rgb(230, 150, 2);
}

#top-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 10px;
}

.top-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-sub-container.hs { 
    align-self: flex-start;
}
.top-sub-container.pt { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.top-sub-container.tm { 
    align-self: flex-end;
}

#high-score,
#timer,
#points {
    font-size: 30px;
}

/* Buttons */
#play-button,
#submit {
    background-color: lightgreen;
}

#play-button {
    font-size: 40px;
}

#message {
    height: 20px;
}

#message span {
    user-select: none;
}

img {
    margin-top: 80px;
    width: 300px;
}