* {
    background-color: rgb(244, 238, 226);
}

/* Remove highlighting */
.tile-ingame, .tile-tray, .board-square , #top-container{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}  

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 140px;
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board-square-container {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    margin: 20px;
    border: 1px solid white;
    overflow: hidden;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 48px;
    height: 48px;
    background-color: rgb(227, 226, 226);
    border: 1px solid white;
    position: relative;
}

span {
    background-color: transparent;
}

.bonus-text {
    position: relative;
    z-index: 1;
}

.triple-word::after, .triple-letter::after, 
.double-word::after, .double-letter::after {
    position: absolute;
    z-index: 0;
    font-size: large;
}

.triple-word { background-color: rgb(251, 35, 35); }
.triple-word::after { content: "TW"; }

.triple-letter { background-color: rgb(98, 98, 226); }
.triple-letter::after { content: "TL"; }

.double-word { background-color: lightcoral; }
.double-word::after { content: "DW"; }

.double-letter { background-color: lightblue; }
.double-letter::after { content: "DL"; }

.tile-tray,
.tile-ingame {
    background: linear-gradient(135deg, #b58863, #d9b48f); /* smooth wooden effect */
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3); /* creates a soft shadow */
    border: 0.5px solid black;
    border-radius: 10%; /* creates slightly rounded corners */
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d1b00; /* letter color */
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
    position: relative;
}

.tile-tray:hover {
    height: 52px;
    width: 52px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* offset-x | offset-y | blur-radius | color */
}

.tile-ingame {
    position: absolute;
    z-index: 999;
}

#tray {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 213, 188);
    border: 0px solid black;
    padding: 10px;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    margin: 10px auto;
}

.letter, .value { background-color: transparent;}

.value {
    position: absolute;
    bottom: 2px;  
    right: 2px;
    font-size: 0.4em;
}

/* Middle Square */
#grid6_6 {
    background-color: rgb(230, 150, 2);
}

#top-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 30px;
}

.top-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-sub-container.hs { 
    align-self: flex-start;
}
.top-sub-container.pt { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.top-sub-container.tm { 
    align-self: flex-end;
}

#high-score,
#timer,
#points {
    font-size: 30px;
}

/* Buttons */
#play-button,
#submit {
    background-color: lightgreen;
}
#play-button:hover,
#submit:hover {
    background-color: rgb(73, 231, 73);
}

#play-button {
    font-size: 40px;
    height: 100px;
    width: 200px;
    border-radius: 25px;
    border: 5px solid black;
}

#in-game-buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 580px;
}
button {
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 3px;
    margin: 0 5px;
}
#in-game-buttons #submit {
    width: 140px;
    font-size: 24px;
}

#sound, 
#new-game {
    font-size: 16px;
    width: 65px;
    height: 50px;
}

#in-game-buttons .end-game {
    font-size: 32px;
    width: 250px;
    margin-right: 163px;
}

#in-game-buttons #sound {
    background-color: rgb(230, 208, 244);
    margin-right: auto;
}
#in-game-buttons #new-game {
    background-color: rgb(244, 241, 183);
    margin-left: auto;
}
#in-game-buttons #new-game:hover {background-color: rgb(240, 228, 0);}

.inner-container {
    display: flex;
    justify-content: center;
}

#in-game-buttons #sound:hover { background-color: rgb(195, 115, 245);}
#shuffle { background-color: rgb(232, 232, 255);}
#shuffle:hover { background-color: rgb(165, 165, 251);}

#discard { 
    background-color: rgb(251, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}
#discard:hover { background-color: rgb(251, 123, 123);}
#discard:disabled:hover { background-color: rgb(251, 203, 203);}

#message {
    height: 20px;
}

#message span {
    user-select: none;
}

img {
    margin-top: 80px;
    width: 300px;
}

.sortable-ghost {
    visibility: hidden;
}

.sortable-chosen {
    opacity: 1 !important;
}

@media (max-height: 950px) {
    #footer {
        display: none;
    }
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 60px;
}

#github-logo,
a {
    height: 14px;
    width: 14px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

img {
    margin-top: 0px;
    margin-bottom: 3px;
}

#sb-tile {
    display: flex;
    justify-content: center;
}