<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrabble Blitz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
</head>
<body>
    <div id="instructions">
        <img src="static/sb_logo.png" alt="">
        <h1>Scrabble Blitz</h1>
        <p>Earn the most points before times runs out!</p>
        <button id="play-button">Play</a>
    </div>
    <div id="game-screen" style="display: none;">
        <div id="top-container">
            <div class="top-sub-container hs">
                <div>High-Score</div>
                <div id="high-score">200</div>
            </div>
            <div class="top-sub-container pt">
                <div>Points</div>
                <div id="points">0</div>
            </div>
            <div class="top-sub-container tm">
                <div>Time</div>
                <div id="timer">2:00</div>
            </div>
        </div>
        <div id="board-square-container">
            <!-- board squares -->
        </div>
        <div id="message">
            <span></span>
        </div>
        <div id="tray" class="dropzone"></div>
        <div id="in-game-buttons">
            <button id="shuffle-button">Shuffle</button>
            <button id="discard">Discard</button>
            <button id="submit">Submit</button>
        </div>
    </div>
</body>
</html>